*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;

}

.header{
    background-color: pink;
    
}

.ribboncontainer{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    height:45px;
}

.signup {
    background-color: white;
    border:none;
    border-radius:10px;
    padding: 3px 18px;
    height:20px;
    color:navy;
    margin-top: 8px;
}

.signup:hover {
    background-color:pink;
}

.login{
    background-color: white;
    border:none;
    border-radius:10px;
    padding: 5px 10px;
    height:22px;
    color:navy;
    margin-top:8px;
    margin-right:3px;

}

.login:hover {
    background-color:pink;
    
}



.signuppage{
    background-color: pink;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupbox{
    display: flex;
    gap:2.5rem;
    flex-direction: column;
    height: 60vh;
    width: 30vw;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 5px 3px 3px black;
}

.loginpage{
    background-color: pink;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox{
    display: flex;
    gap: 2.5em;
    flex-direction: column;
    height: 60vh;
    width: 30vw;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 5px 3px 3px black;
}

.form{
    position: relative;
    width: 80%;
    left: 3rem;
    padding: 0.5rem;
}

.wunderpuss{
    height: 20rem;
    width: 25rem;
    position: relative;
    top: 1rem;
    left: 4.5rem;
}

.search {
    background-color: white;
    border-color: navy;
    border-radius:5em;
    /* padding: 5px 7px;
    height:22px; */
    width: 80px;
    color:navy;
    /* margin-top:8px; */
    height: 2em;
    margin-left: 5px;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search:hover {
   border: none;
   color:pink;
}
.ribboncontainer h1 {
    font-size: 25px;
}

.ribboncontainer h1:hover {
    color: navy;
}
.ribboncontainer h2 {
    font-size: 25px;
}

.ribboncontainer h2:hover {
    color: navy;
}
.usertext {
    height : 32px;
    margin-top:4px;
}
.classtext {
    height : 32px;
    margin-top:4px;
}  

#searchvalues {
border-color: navy;
/* margin-top: 125px;
margin-left:600px; */


}
.searchcontainer {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    /* margin-top:5em; */

}

#searchvalues {
    border-radius: 5em;
    height: 2em;
    width:25em;
}
.title {
    display:flex;
    justify-content: center;
    align-content: center;
    margin-top:1em;
    font-size:40px;
    
}
.searchresults {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 15em;
    margin-right: 15em;
    /* display:flex;
    justify-content: center;
    align-content: center; */
    margin-top:2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;

}

.dataInformation {
    font-size: 12px;
    margin-left: 5em;
    
}

.table {
    border-color: navy;
    border-style: solid;
    border-width: 2px;
    padding: 2em;

}